$background-color: #f06292;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$primary-blue: #298FFE;
$secondary-black: #262626;

$gray-1: #606060;
$gray-3: #EFEFEF;
$gray-2: #C3C3C3;

$blue-5: #D1E7FF;

//$page-main-x-margin: 165px;
$page-main-x-padding: 165px;
$page-main-margin: 32px 165px;

$main-background-color: #F8F8F8;

$main-radius: 15px;
$secondary-radius: 8px;

$blue-background: #F2F4FF;
