@import './styles/_variables.scss';

@font-face {
  font-family: IranSans;
  src: url("../public/fonts/IRANSans(FaNum).ttf");
}

body {
  direction: rtl;
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //  sans-serif;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;

  font-family: IranSans;

  background-color: $main-background-color;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
